body{
    font-family: Arial, Helvetica, sans-serif;
    max-width: 1400px;
    margin: auto;
    padding: 20px;
    background: #f5f5f5;
}

header{
    text-align: center;
    margin-bottom: 40px;
}

section{
    background: white;
    padding: 20px;
    margin-bottom: 25px;
    border-radius: 8px;
}

.cards{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.card{
    flex: 1;
    min-width: 180px;
    background: #fafafa;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    text-align: center;
}

.card span{
    font-size: 2rem;
    font-weight: bold;
}

table{
    width: 100%;
    border-collapse: collapse;
}

th,
td{
    border: 1px solid #ddd;
    padding: 10px;
}

th{
    background: #efefef;
}

#wordcloud{
    padding: 20px;
    line-height: 3rem;
}

.word{
    margin-right: 10px;
}